body {
    font-family: 'Josefin Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #292929;
    margin: 0;
    p,h1,h2,h3,h4,h5,h6,li,ul{color:aliceblue};
}

div {
    margin: 10px;
}

button {
    padding: 5px;
    margin: 5px;
    color: black;
    cursor: pointer;
    background-color:rgb(210, 200, 220);
    border-radius: 5px;
    font-family: 'Josefin Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    padding: 5px;
}

input {
    padding: 5px;
    font-family: 'Josefin Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}
.recipeCard {
    background: rgb(92, 37, 104);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    max-width: 400px;
    min-width: 250px;
}

.recipeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navBar {
    display: flex;
    margin: 0px;
    padding: 10px;
    gap: 10px;
    background-color: rgb(25, 25, 25);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.details{
    opacity: 1;
}

.details.hidden{
    max-height: 0px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

#accountBtn{
    margin: 0;
    border: 0;
    padding: 0;
    background: transparent;
}

#accountBtn img {
    width: 60px;
    padding: 0;
    border-radius: 50%;
    border: 0;
}

#navMenuBtn {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    margin-right: 5px;
    margin-left: auto;

}

#navMenu {
    position:absolute;
    background-color: rgb(25, 25, 25);
    margin:0;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;

}

#signInSection{
    display: flex;
    gap: 10px;
    flex-direction: column;

    background:  rgb(92, 37, 104);
    padding: 25px;
    border-radius: 12px;
    width: 50%;
}

.backgroundOverlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.backgroundOverlay.hidden {
    opacity: 0;
    visibility: hidden;
}

.prettyOverlayFront {
    display: flex;
    gap: 10px;
    flex-direction: column;

    background:  rgb(92, 37, 104);
    padding: 25px;
    border-radius: 12px;
    width: 50%;
    min-width: 350px;
    
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

#addRecipeFromURLBox {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-bottom: 15px;
    align-items: center;
    background-color:rgb(124, 55, 140);
}
#addRecipeFromURLBox.hidden {
    max-height: 0px;
    padding: 0;
    margin: 0;
}